{% extends 'layout.html.twig' %}

{% block title %}Création du trick{% endblock %}

{% block body %}
    <div class="container text-center my-3 py-5">
        <h1 class="col-12 mb-3">Page de création</h1>
        {{ include ('pages/forms_trick.html.twig', {form: form, button: 'Créer'}) }}
        <div class="col-md-4">{{ form_row(form.image) }}</div>
    </div>
{% endblock %}
