{% extends 'layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h1>Erreur du site SnowTrick...</h1>
            </div>
            <hr>
            <div class="col-md-8">
                <p>Nous avons peut-être un probleme avec le site en ce moment, ou cela est peut-être juste dû à une mise à jour.
                   Repassez plus tard, merci !</p>
            </div>
        </div>
    </div>
{% endblock %}
