{% extends 'layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h1>Page introuvable...</h1>
            </div>
            <hr>
            <div class="col-md-8">
                <p>Il s'emblerait qu'une erreur de page introuvable soit survenue,
                   revenez en arrière ou allez sur <a href="{{ path('app_homepage') }}">la page d'accueil</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
